*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mcq-con .header{
    color: white !important;
    background-color: black !important;
    letter-spacing: 5px;

}
.mcq-con button{
    border : none;
    height:auto;
    width: 500px;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    font-size: 22px;
    font-weight:bold;
    margin-top: 10px;
    display: block;
    margin:15px  auto;
    cursor: pointer;
}

.mcq-con button:hover{

   
    background-image: linear-gradient(50deg, #e0c3fca6 0%, #8ec5fc95 100%);
 
}

.mcq-con button:hover{
    /* border : none;
    height:80px;
    width: 450px;
    border-radius: 10px; */
    background-image: linear-gradient(50deg, #e0c3fca6 0%, #8ec5fc95 100%);
    /* font-size: 22px;
    font-weight:bold;
    margin-top: 10px;
    display: block;
    margin:15px  auto;
    cursor: pointer; */
}

.mcq-con p{
    color: rgb(51, 46, 46);
    font-size: 19px;
    
}
